
body{
    background-color:#0f0f0f;
    /* border-radius: 10px */
}

#jokeElement{
    /* background-color: black; */
    color: #f5fffa;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 16px;
    text-align:center;
    
    /* padding-bottom: 10px; */

}





#container{
    /* background-color: #264348; */
    /* height: ; */
    width: 250px;
    border-radius: 10px;
}
